### Scraping data from Flipkart

In [3]:
# lets now import all the required libraries
import selenium
import pandas as pd
import time
import warnings   
from bs4 import BeautifulSoup
warnings.filterwarnings("ignore")

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

# import other packages
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [4]:
# Activating the chrome browser
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")
time.sleep(2)

# Opening the CarDekho web url
url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(2)

In [5]:
srch_items = ['laptops', 'Phones','smart watches','Monitors']
title = []
review_text = []
ratings = []

In [6]:
def scrap():    
        for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
            review_text.append(i.text)
        for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
            title.append(i.text)
        for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']/../div"):
            ratings.append(i.text)
        return

In [7]:
urls=[]

In [8]:
for i in srch_items:
    
    #Find search bar
    srchBar = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
    srchBar.clear()
    srchBar.send_keys(i)
    
    #clicking on search button
    driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()
    time.sleep(3)
    
    page = []
    for i in driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a"):
        page.append(i.get_attribute('href'))
        
    for i in page[0:4]:
        driver.get(i)
        time.sleep(3)
        items = driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
        for i in items:
            urls.append(i.get_attribute('href'))

In [9]:
len(urls)

288

In [10]:
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    for _ in range(2):
        driver.execute_script("window.scrollBy(0,8000)")
        time.sleep(1)
        
    #clicking on all reviews
    try:
        btn=driver.find_element_by_xpath("//div[@class='_2c2kV-']/following::a")
        lnk = btn.get_attribute('href')
        driver.get(lnk)
        time.sleep(1)
    except NoSuchElementException:
        pass

    scrap() 
    
    try:
        n_page=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
        np=[]
        for i in n_page:
            np.append(i.get_attribute('href'))
        for i in np[0:18]:
            driver.get(i)
            time.sleep(1)
            scrap()
    except: continue

In [11]:
len(ratings), len(review_text), len(title)

(23968, 23968, 23968)

In [12]:
#creating a dataframe
data = list(zip(title,review_text,ratings))
df1 = pd.DataFrame(data, columns = ["Review_title","Reiew_text","Ratings"])
df1

,Review_title,Reiew_text,Ratings
0,Terrific purchase,Booting time is simply excellent\nLook is prem...,5
1,Awesome,Good processor\nLong lasting battery\nCompatib...,5
2,Wonderful,Good product,5
3,Good choice,Good light weight laptop in this budget range....,4
4,Awesome,Go for it,5
...,...,...,...
23963,Highly recommended,"Very nice product, expected a little more of U...",5
23964,Good,The product is good and appealing. The overall...,3
23965,Terrific purchase,Loved this watch! Fantastic buy! I bought it f...,5
23966,Mind-blowing purchase,Very Good Quality at a reasonable price. Recei...,5
23967,Worth every penny,"Excellent smart watch, I have been using the w...",5

In [13]:
#saving the data into csv file
df1.to_csv(r"flipkrt1_reviews.csv")

### Scraping Data From Amazon

In [14]:
# Activating the chrome browser
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")
time.sleep(2)

# Opening the CarDekho web url
url = "https://www.amazon.in/"
driver.get(url)
time.sleep(2)

In [15]:
srch_items = ['laptops','phones']

In [16]:
title = []
review_text = []
ratings = []

In [17]:
for i in srch_items:
    srchbar = driver.find_element_by_id("twotabsearchtextbox")
    srchbar.send_keys(i)
    driver.find_element_by_id("nav-search-submit-button").click()  #clicking on search button
    time.sleep(1)
    
    item_url = []
    for i in driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']/a"):
        item_url.append(i.get_attribute('href'))
    for i in item_url:
        driver.get(i)
        time.sleep(1)
        for _ in range(2):
            driver.execute_script("window.scrollBy(0,6000)")
            time.sleep(1)
            
        #click on see all reviews
        try:
            driver.find_element_by_xpath("//a[@class='a-link-emphasis a-text-bold']").click()
        except:
            pass
        
        url_ = []
        try:
            two_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[4]/td[2]/a")
            url_.append(two_str.get_attribute('href'))
        except: pass
        try:
            three_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[3]/td[2]/a")
            url_.append(three_str.get_attribute('href'))
        except: pass
        try:
            one_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[5]/td[2]/a")
            url_.append(one_str.get_attribute('href'))
        except: pass
        try:
            fiv_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[1]/td[2]/a")
            url_.append(fiv_str.get_attribute('href'))
        except: pass
        try:
            four_str = driver.find_element_by_xpath("//table[@id='histogramTable']/tbody/tr[2]/td[2]/a")
            url_.append(four_str.get_attribute('href'))
        except: pass
        
        for i in url_:
            driver.get(i)
            time.sleep(1)
            for i in range(10):
                ids = driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none review-views celwidget']/div")
                comment_ids = []
                for i in ids:
                    comment_ids.append(i.get_attribute('id'))

                for x in comment_ids:
                    #Extract user ids from each user on a page
                    try:
                        review_title = driver.find_element_by_xpath('//*[@id="' + x +'"]/div/div/div[2]/a[2]/span[1]')
                        title.append(review_title.get_attribute("innerHTML"))
                    except :
                        title.append('')

                    try:
                        rating = driver.find_element_by_xpath('//*[@id="' + x +'"]/div/div/div[2]/a[1]/i/span[1]')
                        ratings.append(rating.get_attribute("innerHTML"))
                    except :
                        ratings.append('')

                    try:
                        text = driver.find_element_by_xpath('//*[@id="' + x +'"]/div/div/div[4]/span/span')
                        review_text.append(text.get_attribute("innerHTML"))
                    except :
                        review_text.append('')
                try:
                    driver.find_element_by_xpath("//ul[@class='a-pagination']/li[2]/a").click()
                    time.sleep(3)
                except : break

In [18]:
len(ratings), len(title), len(review_text)

(12577, 12577, 12577)

In [19]:
#creating a dataframe
data = list(zip(title,review_text,ratings))
df2 = pd.DataFrame(data, columns = ["Review_title","Reiew_text","Ratings"])
df2

,Review_title,Reiew_text,Ratings
0,Not upto the mark on comparing the price of th...,I purchased this product on 23 July 2022 with ...,2.0 out of 5 stars
1,worest battery backup and service support,battery backup was too worest .full charge dis...,2.0 out of 5 stars
2,"Screen damage ,no ms office activation code av...",,2.0 out of 5 stars
3,Backlit function not available,Don't buy this product. Where they mentioned y...,2.0 out of 5 stars
4,Not buy this fan noise problem,Two big problem in this laptop are<br>Fan nois...,2.0 out of 5 stars
...,...,...,...
12572,Good,,4.0 out of 5 stars
12573,Look of the phone is nice...,Like it...,4.0 out of 5 stars
12574,Nice mobile,Working fine still,4.0 out of 5 stars
12575,Not bad,Just okay,4.0 out of 5 stars
12576,,,

In [20]:
#saving the data into csv file
df2.to_csv(r"amazon_reviews.csv")

In [21]:
#lets load the flipkart reviews file
flpkrt = pd.read_csv(r"flipkrt1_reviews.csv")
flpkrt

,Unnamed: 0,Review_title,Reiew_text,Ratings
0,0,Terrific purchase,Booting time is simply excellent\nLook is prem...,5
1,1,Awesome,Good processor\nLong lasting battery\nCompatib...,5
2,2,Wonderful,Good product,5
3,3,Good choice,Good light weight laptop in this budget range....,4
4,4,Awesome,Go for it,5
...,...,...,...,...
23963,23963,Highly recommended,"Very nice product, expected a little more of U...",5
23964,23964,Good,The product is good and appealing. The overall...,3
23965,23965,Terrific purchase,Loved this watch! Fantastic buy! I bought it f...,5
23966,23966,Mind-blowing purchase,Very Good Quality at a reasonable price. Recei...,5
23967,23967,Worth every penny,"Excellent smart watch, I have been using the w...",5

In [22]:
#lets load the flipkart reviews file
amazon = pd.read_csv(r"amazon_reviews.csv")
amazon

,Unnamed: 0,Review_title,Reiew_text,Ratings
0,0,Not upto the mark on comparing the price of th...,I purchased this product on 23 July 2022 with ...,2.0 out of 5 stars
1,1,worest battery backup and service support,battery backup was too worest .full charge dis...,2.0 out of 5 stars
2,2,"Screen damage ,no ms office activation code av...",NaN,2.0 out of 5 stars
3,3,Backlit function not available,Don't buy this product. Where they mentioned y...,2.0 out of 5 stars
4,4,Not buy this fan noise problem,Two big problem in this laptop are<br>Fan nois...,2.0 out of 5 stars
...,...,...,...,...
12572,12572,Good,NaN,4.0 out of 5 stars
12573,12573,Look of the phone is nice...,Like it...,4.0 out of 5 stars
12574,12574,Nice mobile,Working fine still,4.0 out of 5 stars
12575,12575,Not bad,Just okay,4.0 out of 5 stars
12576,12576,NaN,NaN,NaN

In [23]:
reviews = pd.concat([flpkrt,amazon],ignore_index=True)
reviews

,Unnamed: 0,Review_title,Reiew_text,Ratings
0,0,Terrific purchase,Booting time is simply excellent\nLook is prem...,5
1,1,Awesome,Good processor\nLong lasting battery\nCompatib...,5
2,2,Wonderful,Good product,5
3,3,Good choice,Good light weight laptop in this budget range....,4
4,4,Awesome,Go for it,5
...,...,...,...,...
36540,12572,Good,NaN,4.0 out of 5 stars
36541,12573,Look of the phone is nice...,Like it...,4.0 out of 5 stars
36542,12574,Nice mobile,Working fine still,4.0 out of 5 stars
36543,12575,Not bad,Just okay,4.0 out of 5 stars
36544,12576,NaN,NaN,NaN

In [24]:
reviews.drop(columns = 'Unnamed: 0', inplace=True)

In [25]:
reviews

,Review_title,Reiew_text,Ratings
0,Terrific purchase,Booting time is simply excellent\nLook is prem...,5
1,Awesome,Good processor\nLong lasting battery\nCompatib...,5
2,Wonderful,Good product,5
3,Good choice,Good light weight laptop in this budget range....,4
4,Awesome,Go for it,5
...,...,...,...
36540,Good,NaN,4.0 out of 5 stars
36541,Look of the phone is nice...,Like it...,4.0 out of 5 stars
36542,Nice mobile,Working fine still,4.0 out of 5 stars
36543,Not bad,Just okay,4.0 out of 5 stars
36544,NaN,NaN,NaN

In [26]:
#saving the data into csv file
reviews.to_csv(r"Review_rating.csv")