# Web Scraping Assignment_2

In [1]:
#lets now import all the required libraries
import selenium    
import pandas as pd    
from selenium import webdriver   
import warnings   
warnings.filterwarnings("ignore")
import time

In [137]:
#lets first connect to the web driver
driver = webdriver.Chrome(r"C:\Web Driver\chromedriver.exe")

# Answer-1 :-

In [43]:
# Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

#First get the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')

In [44]:
#Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
search_field_designation = driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys('Data Analyst')

search_field_location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input") 
search_field_location.send_keys('Bangalore')

In [45]:
#Then click the search button.
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [46]:
#Then scrape the data for the first 10 jobs results you get.
job_title = []
job_location = []
company_name = []
experience_required = []

In [47]:
#lets extract all the tags having the first 10 job titles
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10] #using range to print only top 10 results

for i in titles_tags:         
    title=i.text              
    job_title.append(title)  
job_title[0:10]

['Business and Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Jr . Data Analyst',
 'Data Analyst',
 'Reference Data Analyst',
 'Hiring For Data Analyst with SAP ABAP & BW - C2H Wipro',
 'Officer - Category Demand Management ( Data Analyst)',
 'Software Technologist II - Data Analyst',
 'SAS Analyst / data Analyst / Business analyst - Sas + SQL']

In [48]:
#lets extract all the tags having the first 10 location 
location_tags = driver.find_elements_by_xpath("//li[@ class='fleft grey-text br2 placeHolderLi location']/span[1]") 
location_tags[0:10] #using range to print only top 10 results

for i in location_tags:          
    location=i.text             
    job_location.append(location)  
job_location[0:10]

['Bangalore/Bengaluru',
 'Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Jayanagar)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [49]:
#lets extract all the tags having the first 10 company names
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']") 
companies_tags[0:10] #using range to print only top 10 results

for i in companies_tags:          
    company=i.text             
    company_name.append(company)  
company_name[0:10]

['CAREERDOST ENTERPRISE',
 'Capco',
 'Gsn Games India',
 'Armorblox',
 'G S E-COMMERCE PVT LTD',
 'Deutsche Bank',
 'MILLION MINDS INFOTECH PRIVATE LIMITED',
 'Myntra',
 'Philips',
 'Leading US MNC into analytics']

In [50]:
#lets extract all the tags having the first 10 experience required data
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span") 
experience_tags[0:10] #using range to print only top 10 results

for i in experience_tags:          
    experience=i.text             
    experience_required.append(experience)  
experience_required[0:10]

['0-5 Yrs',
 '7-12 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '4-7 Yrs',
 '2-5 Yrs',
 '7-10 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '2-7 Yrs']

In [51]:
#Finally create a dataframe of the scraped data.
jobs = pd.DataFrame({})
jobs['title'] = job_title
jobs['location'] = job_location
jobs['company'] = company_name
jobs['experience_required'] = experience_required
jobs.head(10)

,title,location,company,experience_required
0,Business and Data Analyst,Bangalore/Bengaluru,CAREERDOST ENTERPRISE,0-5 Yrs
1,Senior Data Analyst,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...",Capco,7-12 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Gsn Games India,3-7 Yrs
3,Jr . Data Analyst,Bangalore/Bengaluru,Armorblox,0-2 Yrs
4,Data Analyst,Bangalore/Bengaluru(Jayanagar),G S E-COMMERCE PVT LTD,4-7 Yrs
5,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
6,Hiring For Data Analyst with SAP ABAP & BW - C...,Bangalore/Bengaluru,MILLION MINDS INFOTECH PRIVATE LIMITED,7-10 Yrs
7,Officer - Category Demand Management ( Data An...,Bangalore/Bengaluru,Myntra,1-4 Yrs
8,Software Technologist II - Data Analyst,Bangalore/Bengaluru,Philips,5-8 Yrs
9,SAS Analyst / data Analyst / Business analyst ...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Leading US MNC into analytics,2-7 Yrs

# Answer-2 :-

In [54]:
# Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

#First get the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')

In [55]:
#Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
search_field_designation = driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys('Data Scientist')

search_field_location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input") 
search_field_location.send_keys('Bangalore')

In [56]:
#Then click the search button.
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [57]:
#Then scrape the data for the first 10 jobs results you get.
job_title = []
job_location = []
company_name = []

In [58]:
#lets extract all the tags having the first 10 job titles
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10] #using range to print only top 10 results

for i in titles_tags:         
    title=i.text              
    job_title.append(title)  
job_title[0:10]

['Senior Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Lead - Data Scientist',
 'Senior Associate - Data Scientist',
 'Data Scientist',
 'Staff Data Scientist',
 'Job Opening with Wipro For Data Scientist - SAS',
 'Data Scientist',
 'Senior Data Scientist -Python+ML(5-7 years)',
 'Senior Data Scientist']

In [59]:
#lets extract all the tags having the first 10 location 
location_tags = driver.find_elements_by_xpath("//li[@ class='fleft grey-text br2 placeHolderLi location']/span[1]") 
location_tags[0:10] #using range to print only top 10 results

for i in location_tags:          
    location=i.text             
    job_location.append(location)  
job_location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)']

In [60]:
#lets extract all the tags having the first 10 company names
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']") 
companies_tags[0:10] #using range to print only top 10 results

for i in companies_tags:          
    company=i.text             
    company_name.append(company)  
company_name[0:10]

['Walmart',
 'IBM',
 'Applied Materials',
 'Affine',
 'Applied Materials',
 'Walmart',
 'Wipro',
 'CRED',
 'Knowledge Foundry Business Solutions Pvt. Ltd.',
 'Course5']

In [61]:
#Finally create a dataframe of the scraped data.
jobs = pd.DataFrame({})
jobs['title'] = job_title
jobs['location'] = job_location
jobs['company'] = company_name
jobs.head(10)

,title,location,company
0,Senior Data Scientist,Bangalore/Bengaluru,Walmart
1,Cognitive/AI Senior Data Scientist,Bangalore/Bengaluru,IBM
2,Lead - Data Scientist,Bangalore/Bengaluru,Applied Materials
3,Senior Associate - Data Scientist,Remote,Affine
4,Data Scientist,Bangalore/Bengaluru,Applied Materials
5,Staff Data Scientist,Bangalore/Bengaluru,Walmart
6,Job Opening with Wipro For Data Scientist - SAS,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",Wipro
7,Data Scientist,Bangalore/Bengaluru,CRED
8,Senior Data Scientist -Python+ML(5-7 years),Bangalore/Bengaluru,Knowledge Foundry Business Solutions Pvt. Ltd.
9,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",Course5

# Answer-3 :-

In [85]:
# In this question you have to scrape data using the filters available on the webpage as shown below:
# You have to use the location and salary filter.
# You have to scrape data for “Data Scientist” designation for first 10 job results.
# You have to scrape the job-title, job-location, company name, experience required.
# The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs


#First get the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')

In [87]:
#Enter “Data Scientist” in “Skill, Designations, Companies” field.
search_field_designation = driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys('Data Scientist')

In [88]:
#Then click the search button.
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [90]:
#Then apply the location filter and salary filter by checking the respective boxes
location_filter_checkbox = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i")
location_filter_checkbox.click()

In [91]:
salary_filter_checkbox = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
salary_filter_checkbox.click()

In [92]:
#Then scrape the data for the first 10 jobs results you get.
job_title = []
job_location = []
company_name = []
experience_required = []

In [93]:
#lets extract all the tags having the first 10 job titles
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10] #using range to print only top 10 results

for i in titles_tags:         
    title=i.text              
    job_title.append(title)  
job_title[0:10]

['Data Scientist',
 'Associate Data Scientist',
 'Associate Scientist - Data Engineering',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Hiring For Senior Data Scientist-Noida',
 'Hiring For Data Analyst and Data Scientist For Gurgaon Location',
 'Opening For Data Scientist',
 'Data Scientist (freelance)',
 'Data Scientist',
 'Data Scientist']

In [94]:
#lets extract all the tags having the first 10 location 
location_tags = driver.find_elements_by_xpath("//li[@ class='fleft grey-text br2 placeHolderLi location']/span[1]") 
location_tags[0:10] #using range to print only top 10 results

for i in location_tags:          
    location=i.text             
    job_location.append(location)  
job_location[0:10]

['Noida, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Greater Noida, Delhi / NCR',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram',
 'New Delhi, Delhi',
 'Gurgaon, Bengaluru',
 'New Delhi']

In [95]:
#lets extract all the tags having the first 10 company names
companies_tags = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']") 
companies_tags[0:10] #using range to print only top 10 results

for i in companies_tags:          
    company=i.text             
    company_name.append(company)  
company_name[0:10]

['Ashkom Media India Private Limited',
 'Optum',
 'AXA Technology Services India Pvt. Ltd',
 'Creative Hands HR Consultancy',
 'Lumiq.ai',
 'Shadow Placements',
 'Care Health Insurance',
 '2Coms',
 'BlackBuck',
 'Boston Consulting Group']

In [96]:
#lets extract all the tags having the first 10 experience required data
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span") 
experience_tags[0:10] #using range to print only top 10 results

for i in experience_tags:          
    experience=i.text             
    experience_required.append(experience)  
experience_required[0:10]

['3-6 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '0-4 Yrs',
 '2-6 Yrs',
 '3-7 Yrs',
 '1-5 Yrs',
 '2-7 Yrs',
 '3-7 Yrs',
 '2-5 Yrs']

In [97]:
#Finally create a dataframe of the scraped data.
jobs = pd.DataFrame({})
jobs['title'] = job_title
jobs['location'] = job_location
jobs['company'] = company_name
jobs['experience_required'] = experience_required
jobs.head(10)

,title,location,company,experience_required
0,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
1,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs
2,Associate Scientist - Data Engineering,Gurgaon/Gurugram,AXA Technology Services India Pvt. Ltd,2-5 Yrs
3,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...",Creative Hands HR Consultancy,0-4 Yrs
4,Hiring For Senior Data Scientist-Noida,"Noida, Greater Noida, Delhi / NCR",Lumiq.ai,2-6 Yrs
5,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,3-7 Yrs
6,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs
7,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
8,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs
9,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs

# Answer-4 :-

In [22]:
#Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#1. Brand 2. Product Description 3. Price

#Go to Flipkart webpage by url : https://www.flipkart.com/
driver.get('https://www.flipkart.com/')

In [23]:
#Enter “sunglasses” in the search field where “search for products, brands andmore” is written and click the search icon.
search_field_products = driver.find_element_by_class_name("_3704LK")
search_field_products.send_keys('sunglasses')

#clicking on search button
search_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [24]:
#creating empty list to store product brands, description and price.
product_brands = []
product_description = []
product_price = []

In [25]:
#After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the required data as usual.
#so lets extract all the tags having the product brands, description and price data from the first page, go to the “Next” Button at the bottom of the page , then click on it.

for i in range(0,3):                  #running for loop with range to run this loop 3 times 
    brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    description_tags = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price_tags = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in brand_tags:              #iterating over web element of title
        brand = i.text                #extracting text from each web element
        product_brands.append(brand)  #appending each exracted text into empty list
    for j in description_tags:
        description = j.text
        product_description.append(description)
    for k in price_tags:
        price = k.text
        product_price.append(price)
    
    next_button = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(next_button[1].get_attribute('href'))
    except:
        driver.get(next_button[0].get_attribute('href'))

    #next_button.click()      #locating web element of next button and then clicking on next button
    #time.sleep(5)            #using time to pause the search engine for 5 sec

In [26]:
print(len(product_brands),len(product_description),len(product_price))

120 120 120

In [27]:
#Finally create a dataframe of the scraped data.
products = pd.DataFrame({})
products['brand'] = product_brands
products['description'] = product_description
products['price'] = product_price

In [28]:
products[0:100]

            brand                                        description   price
0          BAJERO  UV Protection, Polarized, Riding Glasses Retro...  ₹1,273
1    Singco India  Riding Glasses, UV Protection Clubmaster, Wayf...    ₹329
2        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹719
3          SUNBEE  UV Protection, Polarized Wayfarer Sunglasses (...    ₹283
4        Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹639
..            ...                                                ...     ...
95  VINCENT CHASE              UV Protection Cat-eye Sunglasses (54)    ₹649
96     LIZA ANGEL  Riding Glasses, Night Vision Spectacle Sunglas...    ₹198
97         PIRASO              UV Protection Aviator Sunglasses (55)    ₹236
98   CRYSTAL CART  UV Protection, Gradient Round Sunglasses (Free...    ₹419
99  VINCENT CHASE          UV Protection Rectangular Sunglasses (50)    ₹649

[100 rows x 3 columns]

# Answer-5 :-

In [127]:
#Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace")

In [128]:
#Then click the all review link button.
all_review_link_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a")
all_review_link_button.click()

In [129]:
#creating empty list to store product ratings, review summary and full review.
product_rating = []
product_review_summary = []
product_full_review = []

In [130]:
#you have to scrape the attributes.These are: 
#1. Rating 2. Review summary 3. Full review 4. You have to scrape this data for first 100 reviews.

for i in range(0,11):
    rating_tags = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]")
    review_summary_tags = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    full_review_tags = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    
    for i in rating_tags:
        rating = i.text
        rating = rating[0:1]
        product_rating.append(rating)
        
    for j in review_summary_tags:
        review_summary = j.text
        product_review_summary.append(review_summary)
    
    for k in full_review_tags:
        full_review = k.text
        product_full_review.append(full_review)
    
    next_button = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(next_button[1].get_attribute('href'))
    except:
        driver.get(next_button[0].get_attribute('href'))

In [131]:
print(len(product_rating),len(product_review_summary),len(product_full_review))

110 110 110

In [132]:
#Finally create a dataframe of the scraped data.
products = pd.DataFrame({})
products['rating'] = product_rating
products['review_summary'] = product_review_summary
products['full_review'] = product_full_review

In [135]:
products[0:100]

,rating,review_summary,full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Excellent,A perfect phone and a good battery super camer...
96,5,Super!,This is my first ever iPhone.\nAnd I truly don...
97,5,Worth every penny,Undoubtedly Iphone 11 is the most successful m...
98,5,Fabulous!,I purchased the iPhone 11 a month back. I must...
99,5,Wonderful,Nice value for money good and best price I pho...

# Answer-6 :-

In [147]:
#Scrape data for first 100 sneakers you find when you visit flipkart.com 
driver.get('https://www.flipkart.com/')

In [148]:
#search for “sneakers” in the search field.
search_field_products = driver.find_element_by_class_name("_3704LK")
search_field_products.send_keys('sneakers')

#clicking on search button
search_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [149]:
#creating empty list to store product brands, description and price.
product_brands = []
product_description = []
product_price = []

In [150]:
#You have to scrape 4 attributes of each sneaker: 1. Brand 2. Product Description 3. Price
for i in range(0,3):                  #running for loop with range to run this loop 3 times 
    brand_tags = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    description_tags = driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    price_tags = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in brand_tags:              #iterating over web element of title
        brand = i.text                #extracting text from each web element
        product_brands.append(brand)  #appending each exracted text into empty list
    
    for j in description_tags:
        description = j.text
        product_description.append(description)
    
    for k in price_tags:
        price = k.text
        product_price.append(price)
    
    next_button = driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(next_button[1].get_attribute('href'))
    except:
        driver.get(next_button[0].get_attribute('href'))

In [151]:
print(len(product_brands),len(product_description),len(product_price))

120 120 120

In [152]:
#Finally create a dataframe of the scraped data.
products = pd.DataFrame({})
products['brand'] = product_brands
products['description'] = product_description
products['price'] = product_price

In [153]:
products[0:100]

              brand                                        description price
0            BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men  ₹488
1               HOC  611 casual sneaker shoes for men Sneakers For Men  ₹499
2          URBANBOX                          Sneakers Sneakers For Men  ₹198
3            BRUTON      Modern Trendy Sneakers Shoes Sneakers For Men  ₹295
4            corsac  STYLISH MENS BLACK AND WHITE SNEAKER Sneakers ...  ₹499
..              ...                                                ...   ...
95  Jimnastic shoes                    Casual for men Sneakers For Men  ₹397
96       City Soles           Canvas Sneakers for Men Sneakers For Men  ₹745
97         LE GREEM  Comfortable & Ultra Light Weight Sneaker Sneak...  ₹499
98           AKIMBO                   PLAN WHITE SHOE Sneakers For Men  ₹499
99         RapidBox                                   Sneakers For Men  ₹720

[100 rows x 3 columns]

# Answer-7 :-

In [73]:
#Go to the link - https://www.myntra.com/shoes
driver.get("https://www.myntra.com/shoes")

In [74]:
#Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”
price_filter_checkbox = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter_checkbox.click()

In [75]:
color_filter_checkbox = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_filter_checkbox.click()

In [76]:
product_brands = []
product_description = []
product_price = []

In [77]:
#so lets extract all the tags having the first 100 product brands, description, price.
for i in range(0,2):   
    brand_tags = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    description_tags = driver.find_elements_by_xpath("//h4[@class='product-product']")
    price_tags = driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
    
    for i in brand_tags:     
        brand=i.text   
        product_brands.append(brand)
        
    for j in description_tags:
        description=j.text  
        product_description.append(description)
        
    for k in price_tags:
        price=k.text  
        product_price.append(price)
        
    next_button = driver.find_elements_by_xpath("//li[@class='pagination-next']/a")
    try:
        driver.get(next_button[1].get_attribute('href'))
    except:
        driver.get(next_button[0].get_attribute('href'))

In [81]:
print(len(product_brands),len(product_description),len(product_price))

100 100 100

In [82]:
#Finally create a dataframe of the scraped data.
products = pd.DataFrame({})
products['brands'] = product_brands
products['description'] = product_description
products['price'] = product_price

In [83]:
products

,brands,description,price
0,ALDO,Men Leather Driving Shoes,Rs. 12999
1,ALDO,,Rs. 13999
2,ALDO,Men Textured Slip-On Sneakers,Rs. 12999
3,Skechers,Men Max Cushioning Running,Rs. 7649Rs. 8999
4,UNDER ARMOUR,Men Vantage 2 Running Shoes,Rs. 7999
...,...,...,...
95,Heel & Buckle London,Men Textured Leather Formal Loafers,Rs. 13990
96,Bugatti,Men Walking Shoes,Rs. 8999
97,Bugatti,Men Solid Leather Formal Derbys,Rs. 9499
98,Columbia,Women Trekking Shoes,Rs. 8999
99,Bugatti,Men Black Formal Derby Shoes,Rs. 11999

# Answer-8 :-

In [177]:
#Go to webpage https://www.amazon.in/
driver.get("https://www.amazon.in/")

In [178]:
#Enter “Laptop” in the search field and then click the search icon.
search_field = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_field.send_keys("Laptop")

In [179]:
search_button = driver.find_element_by_xpath("//html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [180]:
#Set CPU Type filter to “Intel Core i7” and “Intel Core i9”
cpu_type_filter = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[13]/span/a/span")
cpu_type_filter.click()

In [184]:
#so lets extract all the tags having the laptop titles
product_titles = []
product_ratings = []
product_price = []

title_tags = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
rating_tags = driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span/span/a/i/span")
price_tags = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
    
for i in title_tags:     
    title=i.text   
    product_titles.append(title)
    product_titles = product_titles[0:10]
        
for j in rating_tags:     
    rating=j.text   
    product_ratings.append(rating)
    product_ratings = product_ratings[0:10]
    
for k in price_tags:     
    price=k.text   
    product_price.append(price)
    product_price = product_price[0:10]

In [185]:
print(len(product_titles),len(product_ratings),len(product_price))

10 10 10

In [186]:
#Finally create a dataframe of the scraped data.
products = pd.DataFrame({})
products['title'] = product_titles
products['rating'] = product_ratings
products['price'] = product_price

In [188]:
products

                                               title rating   price
0  LG Gram 14 inches Ultra-Light Intel Evo 11th G...         88,499
1  LG Gram Intel Evo 11th Gen Core i7 17 inches U...         93,999
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...         57,490
3  Samsung Galaxy Book2 Intel 12th Gen core i7 Ev...         79,990
4  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...         86,990
5  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...         89,990
6  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....         86,990
7  (Renewed) Dell E6410 Latitude 14 Inch Screen L...         19,990
8  HP Pavilion x360 11th Gen Intel Core i7 14 inc...         85,890
9  (Renewed) Dell Latitude Laptop E7480 Intel Cor...         64,990

# Answer-9 :-

In [55]:
#Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
#First get the webpage https://www.ambitionbox.com/
driver.get('https://www.ambitionbox.com/')

In [56]:
#Click on the Job option.
job_option_link = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job_option_link.click()

In [57]:
#After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
search_field_designation = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_field_designation.send_keys('Data Scientist')

In [58]:
search_btn_click = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button")
search_btn_click.click()

In [59]:
#You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
location_option = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]')
location_option.click()

In [60]:
search_location = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_location.send_keys('Noida')

In [61]:
location_click = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/input")
location_click.click()

In [62]:
#creating empty list to store job company names, no.of days ago post and ratings.
company_names = []
days_ago = []
company_rating = []

In [63]:
#Then scrape the data for the first 10 jobs results you get.
company_name_tags = driver.find_elements_by_xpath("//p[@class='company body-medium']")
days_ago_tags = driver.find_elements_by_xpath("//span[@class='body-small-l'][1]")
rating_tags = driver.find_elements_by_xpath("//span[@class='body-small']")

for i in company_name_tags:
    name = i.text
    company_names.append(name)
    
for j in days_ago_tags:
    days = j.text
    days_ago.append(days)
    
for k in rating_tags:
    rating = k.text
    company_rating.append(rating)

In [64]:
print(len(company_names),len(days_ago),len(company_rating))

10 10 10

In [65]:
#Finally create a dataframe of the scraped data.
jobs = pd.DataFrame({})
jobs['company name'] = company_names
jobs['no.of days ago'] = days_ago
jobs['rating'] = company_rating

In [66]:
jobs

                                       company name no.of days ago rating
0                  EXL Services.com ( I ) Pvt. Ltd.         7d ago    3.9
1                     GENPACT India Private Limited        19d ago    4.0
2  TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED         5d ago    3.9
3                     GENPACT India Private Limited       1mon ago    4.0
4                         Bristlecone India Limited        14d ago    3.8
5                                             Zyoin        19d ago    4.1
6                Ashkom Media India Private Limited         5d ago    3.7
7                 Newgen Software Technologies Ltd.        21d ago    3.5
8                                 JK Technosoft Ltd        29d ago    3.7
9                        Pitney Bowes India Pvt Ltd       1mon ago    4.2

# Answer-10 :-

In [40]:
#Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary
#First get the webpage https://www.ambitionbox.com/
driver.get('https://www.ambitionbox.com/')

In [41]:
#Click on the salaries option.
salary_option_link = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_option_link.click()

In [42]:
#After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
search_job_profile = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_job_profile.send_keys('Data Scientist')

In [44]:
job_profile = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
job_profile.click()

In [45]:
#creating empty list to store job company names, total salary record, avg salary, min salary, max salary, exp required.
company_names = []
total_salary_record = []
avg_salary = []
min_salary = []
max_salary = []
exp_required = []

In [46]:
name_tags = driver.find_elements_by_xpath("//div[@class='name']/a")
total_salary_record_tags = driver.find_elements_by_xpath("//div[@class='name']/span")
avg_salary_tags = driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']/p")
min_salary_tags = driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
max_salary_tags = driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
exp_required_tags = driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")

for i in name_tags:
    name = i.text
    company_names.append(name)
    
for j in total_salary_record_tags:
    salary_record = j.text.replace('based on','')
    total_salary_record.append(salary_record)
    
for k in avg_salary_tags:
    avg_sal = k.text
    avg_salary.append(avg_sal)

for l in min_salary_tags:
    min_sal = l.text
    min_salary.append(min_sal)
    
for m in max_salary_tags:
    max_sal = m.text
    max_salary.append(max_sal)
    
for n in exp_required_tags:
    experience = n.text.replace('Data Scientist','').replace('.','').replace('\n','')
    exp_required.append(experience)

In [47]:
print(len(company_names),len(total_salary_record),len(avg_salary),len(min_salary),len(max_salary),len(exp_required))

10 10 10 10 10 10

In [48]:
#Finally create a dataframe of the scraped data.
jobs = pd.DataFrame({})
jobs['company name'] = company_names
jobs['total salary record'] = total_salary_record
jobs['avg salary'] = avg_salary
jobs['min salary'] = min_salary
jobs['max salary'] = max_salary
jobs['experience'] = exp_required

In [49]:
jobs

,company name,total salary record,avg salary,min salary,max salary,experience
0,Walmart,11 salaries,₹ 29.7L,₹ 25.0L,₹ 35.0L,3 yrs exp
1,Ab Inbev,32 salaries,₹ 20.5L,₹ 15.0L,₹ 25.5L,3-4 yrs exp
2,Reliance Jio,10 salaries,₹ 18.9L,₹ 5.6L,₹ 26.2L,4 yrs exp
3,ZS,15 salaries,₹ 15.9L,₹ 9.8L,₹ 20.0L,2 yrs exp
4,Optum,27 salaries,₹ 15.2L,₹ 11.0L,₹ 22.0L,3-4 yrs exp
5,Fractal Analytics,81 salaries,₹ 15.2L,₹ 9.5L,₹ 22.0L,2-4 yrs exp
6,Tiger Analytics,46 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L,2-4 yrs exp
7,UnitedHealth,53 salaries,₹ 14.0L,₹ 8.3L,₹ 20.5L,2-4 yrs exp
8,Verizon,14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp
9,Ganit Business Solutions,13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp

In [50]:
#to close automated chrome window
driver.close()